footer{
    position: absolute;
    bottom: 0;
}
.active{
    background-color: red;
text-decoration: line-through;
  }
ul{
    padding: 20px;
}


  #btn{
  background-color: #568057; 
  float: right;
  max-height: 24px;
  padding: 0px;
  }
 